.timer {
  display: flex;
  margin-top: 30px;
}
button {
  cursor: pointer;
  font-size: 30px;
  border-radius: 3px;
  margin-left: 20px;
}
input {
  font-size: 30px;
  font-weight: bold;
  margin-left: 30px;
}

.field {
  display: block;
  width: 90px;
  justify-content: center;
  text-align: center;
  margin-left: 25px;
}

.value {
  font-size: 40px;
  font-family: fantasy;
  font-weight: bold;
}

.label {
  font-size: 30px;
  font-family: fantasy;
}
